
body {
  font-family: "Lato", sans-serif;
  transition: margin-left .5s;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #8d9cf5;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
}

.sidenav a {
  color: #000000;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-left: 9px;
}

.sidenav a:hover {
  color: #505050;
}

.sidenav .menu-icon {
  font-size: 25px;
  margin-right: 10px;
}

.link-text {
  display: none;
  white-space: nowrap;
}

.sidenav.open .link-text {
  display: block;
}

#main {
  display: flex;
  margin-left: 70px;  /* 변경된 부분 */
  transition: margin-left .5s;
  padding: 20px;
  height: calc(100vh - 40px);
  box-sizing: border-box;
}

.column {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.column:first-child {
  flex: none;
  width: 270px;
  border-right: 2px solid #ccc;
}

.column:last-child {
  flex: 1;
}

#calendar {
  flex: 1; /* 캘린더가 남은 공간을 모두 채움 */
  width: 100%; /* 캘린더의 너비를 100%로 설정 */
  height: 75vh; /* 캘린더의 높이를 100%로 설정 */
}

button {
  padding: 10px 20px;
  margin: 10px 0;
  font-size: 16px;
  cursor: pointer;
}

body {
  font-family: Arial, sans-serif;
}

.menu {
  margin: 20px;
}

.menu-item {
  font-weight: bold;
  margin-top: 10px;
}

.submenu {
  margin-left: 20px;
}

.submenu-item {
  margin: 5px;
  padding: 5px;
}

.column:last-child {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.btn_wrapper {
  width: 100%;
  display: flex;
  gap: 10px;
  margin: 20px 0;
  justify-content:space-around;
  align-items: center;
}

.btn_wrapper button {
  flex: 1;
  border: 2px solid #8d9cf5 ;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

/*비활성화 테두리 회색 적용안되는 문제 수정해야함*/

.inactive {

  border: 2px solid #bdbdbd ;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
}

table{
  width: 100%;
}
th{
  text-align: left;
}
td{
  text-align: right;
}

.empInfoContainer {
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.emp-name-span, .emp-deptname-span, .emp-rolename-span {
  color: #505050;
  font-size: 1.1em;
  font-weight: 700;
  padding-right: 10px; /* 패딩을 10px로 변경하여 간격 증가 */
}

.emp-name-span::after, .emp-deptname-span::after {
  content: "";
  border-right: 2px solid #3d3d3d;
  margin-left: 10px; /* 여백을 추가하여 텍스트와 보더 사이의 간격 확보 */
}

.emp-rolename-span {
  padding-right: 0; /* 마지막 요소는 오른쪽 패딩 제거 */
}







/*풀캘린더 CSS 수정*/
.fc .fc-media-screen .fc-direction-ltr .fc-theme-standard{

  margin: 20px;


}

.fc-daygrid-event {
  text-align: center; /* 텍스트 가운데 정렬 */
  line-height: 1.2em; /* 이벤트 텍스트 줄 간격 조정 */
  margin-top: 2px; /* 필요에 따라 위 여백 조정 */
}

.fc-daygrid-event-title {
  display: inline-block; /* 인라인 블록 요소로 설정하여 가로 정렬 */
  background-color: #f0f1f5; /* 이벤트 배경색 */
  padding: 2px 5px; /* 내부 여백 설정 */
  border-radius: 3px; /* 모서리 둥글게 */
  color: #3d3d3d; /* 텍스트 색상 */
  font-size: 12px; /* 글꼴 크기 */
}