body {
  font-family: "Lato", sans-serif;
  transition: margin-left .5s;
  padding: 16px;
  overflow-x: hidden;
}

.sidenav {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #8d9cf5;
  overflow-x: hidden;
  transition: width 0.5s;
  padding-top: 60px;
}

.sidenav a {
  color: #000000;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  transition: 0.3s;
  margin-bottom: 30px;
  margin-left: 9px;
}

.sidenav a:hover {
  color: #505050;
}

.sidenav .menu-icon {
  font-size: 25px;
  margin-right: 10px;
}

.link-text {
  display: none;
  white-space: nowrap;
}

.sidenav.open .link-text {
  display: block;
}

#main {
  display: flex;
  margin-left: 70px;  /* 변경된 부분 */
  transition: margin-left .5s;
  padding: 20px;
  height: calc(100vh - 40px);
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}

.column {
  padding: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

/* .column:first-child {
  flex: none;
  width: 270px;
  border-right: 2px solid #ccc;
}

.column:last-child {
  flex: 1;
} */

.board {
  width: 100%;
}

.board-header, .board-row {
  display: flex;
  border-bottom: 1px solid #ddd;
}

.board-header {
  background-color: #f2f2f2;
  font-weight: bold;
}
.board-row .title {
  text-align: left;
}

.board-column {
  text-align: center;
  padding: 8px;
}

.number {
  width: 5%;
}

.title {
  width: 50%;
}

.name {
  width: 15%;
}

.date {
  width: 20%;
}

.views {
  width: 10%;
}
.likes {
  width: 10%;
}



.search {
  text-align: center;
  margin-bottom: 20px;
}

.search input[type="text"] {
  padding: 5px;
  width: 200px;
}

.search button {
  padding: 5px 10px;
}

.write {
  text-align: right;
  margin-bottom: 20px;
}

.write button {
  padding: 10px 20px;
}


/* 작성영역 */
.write-area{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;

}
.write-area p {
  align-self: flex-start; /* 부모 요소의 정렬을 무시하고 왼쪽 정렬 */
  text-align: left; /* 텍스트를 왼쪽으로 정렬 */
}

/* 제목입력 */
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-color: #66afe9;
  outline: none;
  box-shadow: 0 0 8px rgba(102, 175, 233, 0.6);
}

input[type="text"]::placeholder {
  color: #888;
  font-style: italic;
}

.submit-btn-wrap{
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 15px;
  gap: 15px;
}
.note-editor .note-frame{
  width: 100%;
}