body {
    font-family: "Lato", sans-serif;
    transition: margin-left .5s;
    padding: 16px;
    overflow-x: hidden;
}

.sidenav {
    height: 100%;
    width: 70px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    border-radius: 4px;
    background-color: #8d9cf5;
    overflow-x: hidden;
    transition: width 0.5s;
    padding-top: 60px;
}

.sidenav a {
    color: #000000;
    padding: 10px;
    text-decoration: none;
    font-size: 16px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    margin-bottom: 30px;
    margin-left: 9px;
}

.sidenav a:hover {
    color: #505050;
}

.sidenav .menu-icon {
    font-size: 25px;
    margin-right: 10px;
}

.link-text {
    display: none;
    white-space: nowrap;
}

.sidenav.open .link-text {
    display: block;
}

#main {
    display: flex;
    transition: margin-left .5s;
    padding: 20px;
    height: calc(100vh - 40px);
    box-sizing: border-box;
}

.column {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

#fixedColumn {
    flex: none;
    width: 310px;
    border-right: 2px solid #ccc;
    position: fixed;
    top: 0;
    left: 70px;
    height: 100%;
    overflow-y: auto;
    box-sizing: border-box;
    transition: left 0.5s;
    align-items: center; /* 추가된 부분 */
}

#fixedColumn h2, #fixedColumn ul {
    width: 200px;
    text-align: center; /* 추가된 부분 */
}

.content {
    flex: 1;
    margin-left: 280px;
}

.inquiry-list {
    list-style-type: none;
    padding: 0;
}

.inquiry-item {
    background-color: #d4d9f5;
    padding: 15px;
    margin-bottom: 30px;
    border-radius: 8px;
    transition: background-color 0.3s, box-shadow 0.3s;
    width: 180px;
}

.inquiry-item a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    display: block;
    text-align: center; /* 추가된 부분 */
}

.inquiry-item:hover {
    background-color: #e9e9e9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-title {
    font-size: 24px;
    color: #333;
    margin-bottom: 5px;
}

.content-subtitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 5px;
    margin-left: 24px;
}

.caution-box {
    border-left: 4px solid #f39c12;
    padding-left: 10px;
    margin-top: 5px;
    background-color: #fdf5e6;
}

.caution-box p {
    margin: 0;
    color: #333;
}

.caution-box strong {
    color: #e74c3c;
}
